@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.body {
	background-image: url("./images/background.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.milan-container {
	margin: 0 auto;
	max-width: 1030px;
	height: auto;
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
}

.menu {
	display: flex;
	justify-content: space-between;
	margin-bottom: 17px;
	margin-top: 46px;
	max-width: 1014px;
}

.logo {
	display: flex;
	text-decoration: none;
	transition: 0.2s;
}

.logo:hover .milan,
.logo:hover .holidays {
	color: #F26522;

}

/* .logo:hover .milan {
	color: black;
} */

.logo-img-orange {
	display: none;
}

.logo:hover .logo-img {
	display: none;

}

.logo:hover .logo-img-orange {
	display: block;
}

.logo-text {
	display: flex;
	flex-direction: column;
	margin-left: 8px;
	color: #FFFFFF;
	margin-bottom: -3px;
}

.milan {
	font-size: 29px;
	line-height: 1.1;
}

.holidays {
	font-size: 18px;
	line-height: 1;
}

.contacts {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	margin-right: 8px;
}

.contact-link {
	text-decoration: none;
	font-size: 18px;
	line-height: 1;
	align-items: center;
	color: #FFFFFF;
	transition: 0.5s;
}

.contact-link:hover {
	color: #f26522;

}


.container__tours_card {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 2vw
}

.card {
	position: relative;
}

.card-img {
	width: 300px;
	height: 220px;
	border: 2px solid;
	border-image-slice: 1;
	border-width: 2px;
	border-image-source: linear-gradient(rgba(255, 255, 255, 1),
			rgba(0, 0, 0, 0));
}

.cover-menu {
	position: absolute;
	background: #f26522;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 295px;
	height: 55px;
	margin-left: 4px;
	top: 165px;
	z-index: 1;
	opacity: 0;
	transition: 1s;
}


.price {
	display: flex;
	flex-direction: column;
	margin-left: 16px;
	margin-top: 7px;

}

.opt-text {
	color: #FFFFFF;
	font-size: 10px;
	text-decoration: none;
	padding-bottom: 8px;
}

.details {
	display: flex;
	margin-right: 14px;
	margin-top: 16px;
}

.details-link {
	color: #FFFFFF;
	text-decoration: none;
}


.right-icon::after {
	content: url("./images/Vector.png");
	margin-left: 16px;
}

.card-text {
	font-size: 18px;
	line-height: 1;
	align-items: center;
	text-align: center;
	margin-top: 20px;
	transition: 0.5s;
}


.card:hover>.card-text {
	color: #f26522;
}

.card:hover>.cover-menu {
	opacity: 1;
}

.footer-text {
	font-weight: normal;
	font-size: 12px;
	line-height: 1;
	text-align: center;
	margin-top: 48px;
	margin-bottom: 15px;
}